.quiz-container{
  
background-color:lightcyan;
padding : 38px;
margin: 0 auto;
}
.quiz-option-container{
  display :flex;
  justify-content: space-between;
}
.quiz-container h4{
    margin-bottom:18px;
}
.option-container{
  padding-right: 20px
}